<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <property name="RUN_ID" value="${runId:-default}" />

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/test_${RUN_ID}.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} | %-8level | %-20logger | %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss} | %highlight(%-8level) | %-20logger | %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="FILE" />
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>